.case-studies {
  margin: 0 0;

  header {
    background: transparent;

    .line {
      display: none;
    }
  }

  .content-container {
    /* Sections */
    .case-overview {
      @include row();

      padding: 3em 0 10em 0;
      margin: 0 auto;
      float: none;

      h1 {
        text-align: center;
      }

      h5 {
        color: $teal;
      }

      p {
        color: $white;
      }

      .feature-image {
        box-shadow: 0px 0px 4px 0px #D7DBDE;
      }

      .logo {
        @include span-columns(10);
        @include shift(1);

        margin-bottom: 3em;
      }

      .project-tags, .read-time {
        color: $light-gray;
        text-align: center;
      }

      .read-time {
        font-size: 12px;
        line-height: 0.25em;
      }

      .project-about {
        font-size: 1em;
      }

      @include media ($desktop) {
        padding: 20px 0 70px 0;

        .case-header {
          padding-top: 60px;

          .logo {
            @include span-columns(4);
            @include shift(4);

            margin-bottom: 0;
          }

          img {
            @include span-columns(10);
            @include shift(1);
          }

          .project-tags, .read-time {
            @include span-columns(6);
            @include shift(3);

            margin-top: 1em;

            color: $light-gray;
            font-size: 18px;
            text-align: center;
          }

          .project-about {
            @include span-columns(8);
            @include shift(2);

            font-size: 18px;
            text-align: center;
          }

          .project-tags {
            margin-top: 1em;
            margin-bottom: 0;

            color: $light-gray;
          }

          .read-time {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            color: $light-gray;
            line-height: 2em;
          }
        }

        .case-tldr {
          @include span-columns(12);

          .problem {
            @include span-columns(4 of 12);
          }

          .my-role {
            @include span-columns(4 of 12);
            @include shift(1);
          }

          .toolbox {
            @include span-columns(1 of 12);
            @include shift(1);
          }
        }
      }
    }

    .case-writeup {
      @include row();

      .section-container {
        ul {
          font-family: $sans-serif;

          list-style-type: disc;
        }

        ol {
          list-style-type: decimal;
        }

        button {
          width: 100%;
          margin-bottom: 2em;
          padding: 1.25em 0;

          background: $magenta;
          border: 1px solid $magenta;
          border-radius: 4px;

          font-family: $sans-serif;
          font-size: 2.5em;
          line-height: 17px;
          letter-spacing: 0.1px;
          color: $white;
          text-decoration: none;

          &:hover {
            background: $white;

            color: $magenta;

            cursor: pointer;
          }
        }
      }

      @include media ($desktop) {
        .section-container {
          @include span-columns(12);

          .writeup-description {
            p, ul {
              @include span-columns(6 of 12);
              @include shift(3);
            }

            h2 {
              line-height: 0;
            }

            img {
              @include span-columns(8 of 12);
              @include shift(2);
            }
          }

          button {
            @include span-columns(6 of 12);
            @include shift(3);

            font-size: 16px;
          }
        }

        .personas {
          @include span-columns(12);
          @include shift(0.75);

          .persona-image {
            text-align: center;

            img {
              display: inline-block;
              width: 50%;
              margin: 0 auto;
            }
          }

          .persona-tldr {
            margin-bottom: 40px;

            p {
              line-height: 26px;
            }
          }

          .catarina {
            @include span-columns(5 of 12);
          }

          .brandon {
            @include span-columns(5 of 12);
            @include shift(0.5);
          }
        }
      }
    }

    .personas {
      margin: -33px 0 70px 0;
    }

    .other-works {
      @include media ($desktop) {
        .other-works-container {
          .project {
            img {
              @include span-columns(7 of 12);
            }

            .project-description {
              @include span-columns(4 of 12);
              @include shift(1);
            }
          }
        }
      }
    }
  }
}
