.content-container {
  h1 {
    font-family: $serif;
    font-size: 5em;
    font-weight: 100;
    line-height: 0.5em;
    color: $teal;

    @include media ($desktop) {
      font-size: em(38);
      line-height: 1em;
    }
  }

  h2, h5, p {
    font-family: $sans-serif;
    font-weight: 100;
  }

  h2 {
    font-size: 4em;
    line-height: 1.25em;
    color: $black;

    @include media ($desktop) {
      margin-bottom: 0.5em;
      font-size: em(21);
      line-height: em(31);
    }
  }

  h5 {
    margin: 2em 0 -0.5em 0;

    font-size: 1em;
    line-height: 1em;
    color: $black;
    text-transform: uppercase;

    @include media ($desktop) {
      margin: em(30) 0 em(-5) 0;

      font-size: em(13);
    }
  }

  p, ul, ol {
    font-size: 1.5em;
    line-height: 2em;
    letter-spacing: em(0.1);
    color: $dark-gray;

    &.caption {
      margin-top: em(-20);
      font-style: italic;
      color: $light-gray;
    }

    @include media ($desktop) {
      font-size: 1em;
      line-height: em(32);
    }
  }

  ul, ol {
    line-height: 6em;

    li {
      line-height: 2em;
    }

    @include media ($desktop) {
      line-height: em(32);
    }
  }

  ul {
    font-family: $sans-serif;

    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  .drop-cap {
    float: left;

    padding: 0.25em 0.125em 0 0;

    font-family: $serif;
    font-size: 8.5em;
    color: $dark-gray;

    @include media ($desktop) {
      font-size: 4.25em;
    }
  }

  img {
    width: 100%;
  }

  section {
    margin-bottom: 10em;

    @include media ($desktop) {
      margin-bottom: em(100);
    }
  }

  .wrapper {
    @include outer-container;

    @include media ($desktop) {
      @include clearfix;
      max-width: em(1024);
      margin: {
        left: auto;
        right: auto;
      }
    }
  }

  .border {
    @include span-columns(12);

    margin-bottom: 2em;

    position: relative;
    height: em(65);

    font-family: $serif;
    font-size: 4em;
    line-height: 0;
    letter-spacing: em(1);
    text-align: center;
    color: $teal;

    .line {
      position: absolute;
      width: 100%;
      top: 34%;

      border-bottom: 1px solid $teal;
    }

    .box-container {
      @include span-columns(10);
      @include shift(1);
      @include omega();

      position: absolute;

      .box-center {
        position: absolute;
        display: block;
        z-index: 2;

        height: em(45);
        width: 100%;

        background: $white;

        line-height: 1.2em;
        text-align: center;

        span {
          position: absolute;
          margin: 0;
          padding: 0.5em;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          min-width: 100%;
          transform: translate(-50%, -50%);

          border: 1px solid $teal;
          background: $white;
        }
      }

      .box-left, .box-right {
        display: none;
      }

    }

    @include media ($desktop) {
      font-size: 1.5em;
      line-height: 0;

      .line {
        top: 50%;
        height: 1px;

        background: -webkit-gradient(linear, 0 0, 100% 0, from($lightest-gray), to($lightest-gray), color-stop(50%, $light-gray));

        border-bottom: 0 solid $teal;
      }

      .border {
        margin-bottom: em(50);
      }

      .box-container {
        @include span-columns(6);
        @include shift(3);
        @include omega();

        .box-left, .box-right {
          position: absolute;
          display: block;

          height: em(45);
          width: 95%;
        }

        .box-center {
          top: em(10);
          left: em(10);

          width: 95%;

          border: em(1) solid $lightest_gray;

          span {
            border: 0 solid $teal;
            background: none;
          }
        }

        .box-left, .box-right {
          z-index: 1;

          border: em(1) solid $teal;
          background: $white;
        }

        .box-left {
          top: 0;
        }

        .box-right {
          top: em(20);
          left: em(20);
        }
      }
    }
  }

  .project-tags {
    font-family: $sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: em(0.1);
    color: $light-gray;

    @include media ($desktop) {
      font-size: em(14);
      line-height: em(24);
    }
  }

  .coming-soon {
    font-family: $sans-serif;
    font-size: 1.5em;
    letter-spacing: em(0.1);
    color: $dark-gray;
  }

  .other-works {
    @include row();
    @include span-columns(12);
    @include omega();

    .project {
      margin-bottom: em(60);

      img {
        box-shadow: 0 0 em(4) 0 $box-shadow-gray;
      }

      .project-description {
        button {
          width: 100%;
          margin-bottom: 2em;
          padding: 1.25em 0;

          background: $magenta;
          border: em(1) solid $magenta;
          border-radius: em(4);

          font-family: $sans-serif;
          font-size: 2.5em;
          line-height: em(17);
          letter-spacing: em(0.1);
          color: $white;
          text-decoration: none;

          &:hover {
            background: $white;

            color: $magenta;

            cursor: pointer;
          }
        }
      }
    }

    @include media ($desktop) {
      .other-works-container {
        @include span-columns(12);
        @include omega();

        .project {
          .project-description {
            button {
              margin-bottom: 0;
              padding: 0;

              background: none;
              border: 0 solid $magenta;

              font-size: 1em;
              color: $magenta;
              text-align: left;

              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}