.contact {
  margin: 0 0;

  /////* HEADER */////
  .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 3px;

    background-color: $teal;
  }

  header {
    padding: 16px 1em 15px 1em;

    background: $white;

    .title {
      font-family: $serif;
      font-size: 21px;
      line-height: 24px;
      letter-spacing: 1.5px;

      a {
        color: $light-gray;
        text-decoration: none;
      }

      .split {
        color: $teal;
      }
    }

    .hamburger {
      position: absolute;
      top: 20px;
      right: 5px;
      width: 20px;
      height: 24px;

      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);

      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;

        background: $teal;
        opacity: 1;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
          top: 7px;
        }

        &:nth-child(4) {
          top: 14px;
        }
      }

      &.open span {
        &:nth-child(1) {
          top: 7px;
          left: 50%;
          width: 0%;
        }

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 7px;
          left: 50%;
          width: 0%;
        }
      }
    }

    .mobile-menu {
      display: none;
      margin: 0 auto;

      ul {
        list-style-type: none;

        li {
          padding: 20px;

          a {
            font-family: $serif;
            font-size: 38px;
            color: $teal;
            text-decoration: none;
          }
        }
      }
    }

    nav {
      display: none;
    }

    .line {
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;

      height: 1px;

      background-color: $lightest-gray;
    }

    @include media ($desktop) {
      @include span-columns(12);

      .title {
        @include span-columns(4);
      }

      .nav-mobile {
        display: none;
      }

      nav {
        display: block;

        ul {
          margin: 0;
          padding: 0;
          overflow: hidden;

          list-style-type: none;

          line-height: 24px;
          text-align: right;

          li {
            float: right;

            a {
              display: block;
              padding-left: 40px;

              font-family: $sans-serif;
              font-size: 16px;
              color: $light-gray;
              text-decoration: none;

              &:hover {
                color: $teal;
              }

              &:selected {

              }
            }
          }
        }
      }
    }
  }

  /////* CONTENT */////
  .content-container {
    h1 {
      font-family: $serif;
      font-size: 38px;
      font-weight: 100;
      line-height: 43px;
      color: $teal;
    }

    h2, h5, p {
      font-family: $sans-serif;
      font-weight: 100;
    }

    h2 {
      font-size: 21px;
      line-height: 31px;
      color: $black;
    }

    h5 {
      margin: 30px 0 -5px 0;

      font-size: 13px;
      line-height: 16px;
      color: $black;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.5px;
      color: $dark-gray;
    }

    img {
      width: 100%;
    }

    section {
      margin-bottom: 100px;
    }

    .wrapper {
      @include outer-container;
    }

    .border {
      @include span-columns(12);
      margin-bottom: 50px;

      position: relative;
      height: 65px;

      font-family: $serif;
      font-size: 21px;
      line-height: 0px;
      letter-spacing: 1.5px;
      text-align: center;
      color: $teal;

      .line {
        position: absolute;
        width: 100%;
        top: 34%;

        border-bottom: 1px solid $teal;
      }

      .box-container {
        @include span-columns(6);
        @include shift(3);
        @include omega();

        position: absolute;

        .box-center {
          position: absolute;
          display: block;
          z-index: 2;

          height: 45px;
          width: 95%;

          background: $white;
          border: 1px solid $teal;

          text-align: center;

          span {
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
          }
        }

        .box-left, .box-right {
          display: none;
        }

      }

      @include media ($desktop) {
        font-size: 28px;

        .line {
          top: 50%;
          height: 1px;

          background: -webkit-gradient(linear, 0 0, 100% 0, from($lightest-gray), to($lightest-gray), color-stop(50%, $light-gray));

          border-bottom: 0px solid $teal;
        }

        .box-container {
          .box-left, .box-right {
            position: absolute;
            display: block;

            height: 45px;
            width: 95%;
          }

          .box-center {
            top: 10px;
            left: 10px;

            width: 95%;

            border: 1px solid $lightest_gray;
          }

          .box-left, .box-right {
            z-index: 1;

            border: 1px solid $teal;
            background: $white;
          }

          .box-left {
            top: 0;
          }

          .box-right {
            top: 20px;
            left: 20px;
          }
        }
      }
    }

    .project-tags {
      margin-top: -5px;

      font-family: $sans-serif;
      font-size: 14px;
      line-height: 10px;
      letter-spacing: 0.5px;
      color: $light-gray;

      @include media ($desktop) {
        line-height: 24px;
      }
    }

    /////* SECTIONS */////

    .intro-container {
      @include row();

      padding: 20px 0 70px 0;
      margin: 0 auto;
      float: none;

      h1, h2 {
        text-align: center;
      }

      h5 {
        color: $black;
      }

      p {
        color: $dark-gray;
      }

      a {
        text-decoration: none;
        color: $teal;
      }

      @include media ($desktop) {
        .intro-header {
          padding-top: 60px;

          img {
            @include span-columns(10);
            @include shift(1);
          }

          .project-tags, .project-about {
            @include span-columns(6);
            @include shift(3);

            font-size: 18px;
            text-align: center;
          }

          .project-tags {
            margin-top: 1em;

            color: $light-gray;
          }

        }

        .bio-tldr {
          @include span-columns(6);
          @include shift(4);
        }
      }
    }

    .new-section {
      @include row();

      .section-container {

        .drop-cap {
          float: left;

          padding: 2px 10px 0 0;

          font-family: $serif;
          font-size: 65px;
          line-height: 62px;
          color: $dark-gray;
        }

        ul {
          font-family: $sans-serif;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: 0.5px;
          color: $dark-gray;

          list-style-type: decimal;
        }

        button {
          width: 100%;
          padding: em(15px) 70px;

          background: $magenta;
          border: 1px solid $magenta;
          border-radius: 4px;

          font-family: $sans-serif;
          font-size: 16px;
          line-height: 17px;
          letter-spacing: 0.5px;
          color: $white;
          text-decoration: none;

          &:hover {
            background: $white;

            color: $magenta;

            cursor: pointer;
          }
        }
      }

      @include media ($desktop) {
        .section-container {
          @include span-columns(12);

          .writeup-description {

            p, ul {
              @include span-columns(6 of 12);
              @include shift(3);
            }

            h2 {
              line-height: 0;
            }

            img {
              @include span-columns(8 of 12);
              @include shift(2);
            }
          }

          button {
            @include span-columns(5 of 12);
            @include shift(7);

            padding: 15px 50px;
          }
        }
      }
    }

    .timeline {
      .event-container {
        @include row();

        .circle {
          width: 15px;
          height: 15px;

          border: 1px solid $teal;
          border-radius: 50%;
          background: $white;
        }

        .event {
          padding-left: 4%;
          margin-left: -3.1%;
          border-left: 1px solid $light-gray;

          h6 {
            font-family: $sans-serif;
            font-size: 14px;
            color: $black;
            letter-spacing: 0.5px;
          }

          p {
            margin-top: -27px;
          }

          a {
            color: $magenta;
            text-decoration: none;
          }
        }
      }

      @include media ($desktop) {
        @include span-columns(12);

        .circle {
          @include span-columns(1 of 12);
          @include shift(3);

          margin-top: 3.2%;
        }

        .event {
          @include span-columns(6 of 12);
        }
      }
    }

    .contact {
      .contact-container {
        .contact-text {
          h1, h2 {
            text-align: center;
          }

          h1 {
            line-height: 0px
          }
        }

        .contact-methods {
          width: 100%;
          margin: 0 auto;

          a {
            padding: 27px;

            text-decoration: none;
          }

          img {
            width: 40px;
          }
        }

        @include media ($desktop) {
          @include span-columns(12);

          .contact-text {
            @include span-columns(4 of 12);
            @include omega();

            h1, h2 {
              text-align: left;
            }
          }

          .contact-methods {
            @include span-columns(3 of 12);
            @include shift(5);
            @include omega();
          }
        }
      }
    }
  }
}
