@import "neat/neat-helpers";

//overrides Neat's default
$max-width: em(850);

$visual-grid-color: lighten(#FFF0E8, 3%);

//breakpoints
$desktop: new-breakpoint(min-width 1000px 12);

//typography
$serif: 'Petrona', Georgia, serif;
$sans-serif: 'Muli', Helvetica, sans-serif;

//colors
$teal: #0FA3B1;
$lightest-gray: #EAEAEA;
$light-gray: #BABABA;
$dark-gray: #7F7F7F;
$header-gray: #6C7074;
$em-gray: #636262;
$magenta: #E150A5;
$black: #2E3839;
$white: #FFFFFF;

$nico: #E57F7F;
$perch: #48B3D1;
$yesware: #8DC23C;
