@import url(http://fonts.googleapis.com/css?family=Muli:300,300italic);
@import url(http://fonts.googleapis.com/css?family=Petrona);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.portfolio-home {
  margin: 0 0; }
  .portfolio-home .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.2em;
    background-color: #0FA3B1; }
  .portfolio-home header {
    padding: 1em;
    background: #FFFFFF; }
    .portfolio-home header .title {
      font-family: "Petrona", Georgia, serif;
      font-size: 21px;
      line-height: 24px;
      letter-spacing: 1.5px; }
      .portfolio-home header .title a {
        color: #BABABA;
        text-decoration: none; }
      .portfolio-home header .title .split {
        color: #0FA3B1; }
    .portfolio-home header .hamburger {
      position: absolute;
      top: 20px;
      right: 5px;
      width: 20px;
      height: 24px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      .portfolio-home header .hamburger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background: #0FA3B1;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        .portfolio-home header .hamburger span:nth-child(1) {
          top: 0px; }
        .portfolio-home header .hamburger span:nth-child(2), .portfolio-home header .hamburger span:nth-child(3) {
          top: 7px; }
        .portfolio-home header .hamburger span:nth-child(4) {
          top: 14px; }
      .portfolio-home header .hamburger.open span:nth-child(1) {
        top: 7px;
        left: 50%;
        width: 0%; }
      .portfolio-home header .hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .portfolio-home header .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .portfolio-home header .hamburger.open span:nth-child(4) {
        top: 7px;
        left: 50%;
        width: 0%; }
    .portfolio-home header .mobile-menu {
      display: none;
      margin: 0 auto; }
      .portfolio-home header .mobile-menu ul {
        list-style-type: none; }
        .portfolio-home header .mobile-menu ul li {
          padding: 20px; }
          .portfolio-home header .mobile-menu ul li a {
            font-family: "Petrona", Georgia, serif;
            font-size: 38px;
            color: #0FA3B1;
            text-decoration: none; }
    .portfolio-home header nav {
      display: none; }
    .portfolio-home header .line {
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #EAEAEA; }
    @media screen and (min-width: 600px) {
      .portfolio-home header {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .portfolio-home header:last-child {
          margin-right: 0; }
        .portfolio-home header .title {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%; }
          .portfolio-home header .title:last-child {
            margin-right: 0; }
        .portfolio-home header .nav-mobile {
          display: none; }
        .portfolio-home header nav {
          display: block; }
          .portfolio-home header nav ul {
            margin: 0;
            padding: 0;
            overflow: hidden;
            list-style-type: none;
            line-height: 24px;
            text-align: right; }
            .portfolio-home header nav ul li {
              float: right; }
              .portfolio-home header nav ul li a {
                display: block;
                padding-left: 40px;
                font-family: "Muli", Helvetica, sans-serif;
                font-size: 16px;
                color: #BABABA;
                text-decoration: none; }
                .portfolio-home header nav ul li a:hover {
                  color: #0FA3B1; } }
  .portfolio-home .content-container h1 {
    font-family: "Petrona", Georgia, serif;
    font-size: 38px;
    font-weight: 100;
    line-height: 43px;
    color: #0FA3B1; }
  .portfolio-home .content-container h2, .portfolio-home .content-container h5, .portfolio-home .content-container p {
    font-family: "Muli", Helvetica, sans-serif;
    font-weight: 100; }
  .portfolio-home .content-container h2 {
    font-size: 21px;
    line-height: 31px;
    color: #2E3839; }
  .portfolio-home .content-container h5 {
    margin: 30px 0 -5px 0;
    font-size: 13px;
    line-height: 16px;
    color: #2E3839;
    text-transform: uppercase; }
  .portfolio-home .content-container p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #7F7F7F; }
  .portfolio-home .content-container img {
    width: 100%; }
  .portfolio-home .content-container section {
    margin-bottom: 100px; }
  .portfolio-home .content-container .wrapper {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto; }
    .portfolio-home .content-container .wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .portfolio-home .content-container .border {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    height: 65px;
    font-family: "Petrona", Georgia, serif;
    font-size: 21px;
    line-height: 0px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #0FA3B1; }
    .portfolio-home .content-container .border:last-child {
      margin-right: 0; }
    .portfolio-home .content-container .border .line {
      position: absolute;
      width: 100%;
      top: 34%;
      border-bottom: 1px solid #0FA3B1; }
    .portfolio-home .content-container .border .box-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%;
      margin-right: 0;
      position: absolute; }
      .portfolio-home .content-container .border .box-container:last-child {
        margin-right: 0; }
      .portfolio-home .content-container .border .box-container .box-center {
        position: absolute;
        display: block;
        z-index: 2;
        height: 45px;
        width: 95%;
        background: #FFFFFF;
        line-height: 1.2em;
        text-align: center; }
        .portfolio-home .content-container .border .box-container .box-center span {
          position: absolute;
          margin: 0;
          padding: 0.5em;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          min-width: 100%;
          transform: translate(-50%, -50%);
          border: 1px solid #0FA3B1; }
      .portfolio-home .content-container .border .box-container .box-left, .portfolio-home .content-container .border .box-container .box-right {
        display: none; }
    @media screen and (min-width: 600px) {
      .portfolio-home .content-container .border {
        font-size: 28px;
        line-height: 0px; }
        .portfolio-home .content-container .border .line {
          top: 50%;
          height: 1px;
          background: -webkit-gradient(linear, 0 0, 100% 0, from(#EAEAEA), to(#EAEAEA), color-stop(50%, #BABABA));
          border-bottom: 0px solid #0FA3B1; }
        .portfolio-home .content-container .border .box-container .box-left, .portfolio-home .content-container .border .box-container .box-right {
          position: absolute;
          display: block;
          height: 45px;
          width: 95%; }
        .portfolio-home .content-container .border .box-container .box-center {
          top: 10px;
          left: 10px;
          width: 95%;
          border: 1px solid #EAEAEA; }
        .portfolio-home .content-container .border .box-container .box-left, .portfolio-home .content-container .border .box-container .box-right {
          z-index: 1;
          border: 1px solid #0FA3B1;
          background: #FFFFFF; }
        .portfolio-home .content-container .border .box-container .box-left {
          top: 0; }
        .portfolio-home .content-container .border .box-container .box-right {
          top: 20px;
          left: 20px; } }
  .portfolio-home .content-container .project-tags {
    margin-top: -5px;
    font-family: "Muli", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #BABABA; }
    @media screen and (min-width: 600px) {
      .portfolio-home .content-container .project-tags {
        line-height: 24px; } }
  .portfolio-home .content-container .intro {
    display: block;
    padding: 20px 0;
    margin: 0 auto 100px auto;
    float: none; }
    .portfolio-home .content-container .intro::after {
      clear: both;
      content: "";
      display: table; }
    .portfolio-home .content-container .intro h1 {
      text-align: center; }
    .portfolio-home .content-container .intro .drop-cap {
      float: left;
      padding: 2px 10px 0 0;
      font-family: "Petrona", Georgia, serif;
      font-size: 65px;
      line-height: 62px;
      color: #7F7F7F; }
    @media screen and (min-width: 600px) {
      .portfolio-home .content-container .intro .intro-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 25.58941%;
        margin-top: 1.2em; }
        .portfolio-home .content-container .intro .intro-container:last-child {
          margin-right: 0; } }
  .portfolio-home .content-container .recent-work {
    display: block; }
    .portfolio-home .content-container .recent-work::after {
      clear: both;
      content: "";
      display: table; }
    .portfolio-home .content-container .recent-work .recent-project-container button {
      width: 100%;
      padding: 0.9375em 70px;
      background: #E150A5;
      border: 1px solid #E150A5;
      border-radius: 4px;
      font-family: "Muli", Helvetica, sans-serif;
      font-size: 16px;
      line-height: 17px;
      letter-spacing: 0.5px;
      color: #FFFFFF;
      text-decoration: none; }
      .portfolio-home .content-container .recent-work .recent-project-container button:hover {
        background: #FFFFFF;
        color: #E150A5;
        cursor: pointer; }
    @media screen and (min-width: 600px) {
      .portfolio-home .content-container .recent-work .recent-project-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .portfolio-home .content-container .recent-work .recent-project-container:last-child {
          margin-right: 0; }
        .portfolio-home .content-container .recent-work .recent-project-container img {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          .portfolio-home .content-container .recent-work .recent-project-container img:last-child {
            margin-right: 0; }
        .portfolio-home .content-container .recent-work .recent-project-container .recent-project-description {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-right: 0;
          margin-left: 8.5298%; }
          .portfolio-home .content-container .recent-work .recent-project-container .recent-project-description:last-child {
            margin-right: 0; }
          .portfolio-home .content-container .recent-work .recent-project-container .recent-project-description h2 {
            line-height: 0; }
        .portfolio-home .content-container .recent-work .recent-project-container button {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-left: 59.70863%;
          padding: 15px 50px; }
          .portfolio-home .content-container .recent-work .recent-project-container button:last-child {
            margin-right: 0; } }
  .portfolio-home .content-container .other-works {
    display: block; }
    .portfolio-home .content-container .other-works::after {
      clear: both;
      content: "";
      display: table; }
    .portfolio-home .content-container .other-works .project {
      margin-bottom: 60px; }
      .portfolio-home .content-container .other-works .project .project-description button {
        width: 100%;
        padding: 15px 70px;
        background: #E150A5;
        border: 1px solid #E150A5;
        border-radius: 4px;
        font-family: "Muli", Helvetica, sans-serif;
        font-size: 16px;
        line-height: 17px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-decoration: none; }
        .portfolio-home .content-container .other-works .project .project-description button:hover {
          background: #FFFFFF;
          color: #E150A5;
          cursor: pointer; }
    @media screen and (min-width: 600px) {
      .portfolio-home .content-container .other-works .other-works-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-right: 0; }
        .portfolio-home .content-container .other-works .other-works-container:last-child {
          margin-right: 0; }
        .portfolio-home .content-container .other-works .other-works-container .project {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%; }
          .portfolio-home .content-container .other-works .other-works-container .project:last-child {
            margin-right: 0; }
          .portfolio-home .content-container .other-works .other-works-container .project .project-description button {
            padding: 0;
            background: none;
            border: 0px solid #E150A5;
            color: #E150A5;
            text-align: left; }
            .portfolio-home .content-container .other-works .other-works-container .project .project-description button:hover {
              color: #2E3839; } }
  .portfolio-home .content-container .contact .contact-container .contact-text h1, .portfolio-home .content-container .contact .contact-container .contact-text h2 {
    text-align: center; }
  .portfolio-home .content-container .contact .contact-container .contact-text h1 {
    line-height: 0px; }
  .portfolio-home .content-container .contact .contact-container .contact-methods {
    width: 100%;
    margin: 3em auto 0 auto; }
    .portfolio-home .content-container .contact .contact-container .contact-methods a {
      padding: 27px;
      text-decoration: none; }
    .portfolio-home .content-container .contact .contact-container .contact-methods img {
      width: 40px; }
  @media screen and (min-width: 600px) {
    .portfolio-home .content-container .contact .contact-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .portfolio-home .content-container .contact .contact-container:last-child {
        margin-right: 0; }
      .portfolio-home .content-container .contact .contact-container .contact-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0; }
        .portfolio-home .content-container .contact .contact-container .contact-text:last-child {
          margin-right: 0; }
        .portfolio-home .content-container .contact .contact-container .contact-text h1, .portfolio-home .content-container .contact .contact-container .contact-text h2 {
          text-align: left; }
      .portfolio-home .content-container .contact .contact-container .contact-methods {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-left: 42.64902%;
        margin-right: 0; }
        .portfolio-home .content-container .contact .contact-container .contact-methods:last-child {
          margin-right: 0; } }

.case-studies {
  margin: 0 0; }
  .case-studies .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #0FA3B1; }
  .case-studies header {
    padding: 16px 1em 15px 1em;
    background: #FFFFFF; }
    .case-studies header .title {
      font-family: "Petrona", Georgia, serif;
      font-size: 21px;
      line-height: 24px;
      letter-spacing: 1.5px; }
      .case-studies header .title a {
        color: #BABABA;
        text-decoration: none; }
      .case-studies header .title .split {
        color: #0FA3B1; }
    .case-studies header .hamburger {
      position: absolute;
      top: 20px;
      right: 5px;
      width: 20px;
      height: 24px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      .case-studies header .hamburger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background: #0FA3B1;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        .case-studies header .hamburger span:nth-child(1) {
          top: 0px; }
        .case-studies header .hamburger span:nth-child(2), .case-studies header .hamburger span:nth-child(3) {
          top: 7px; }
        .case-studies header .hamburger span:nth-child(4) {
          top: 14px; }
      .case-studies header .hamburger.open span:nth-child(1) {
        top: 7px;
        left: 50%;
        width: 0%; }
      .case-studies header .hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .case-studies header .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .case-studies header .hamburger.open span:nth-child(4) {
        top: 7px;
        left: 50%;
        width: 0%; }
    .case-studies header .mobile-menu {
      display: none;
      margin: 0 auto; }
      .case-studies header .mobile-menu ul {
        list-style-type: none; }
        .case-studies header .mobile-menu ul li {
          padding: 20px; }
          .case-studies header .mobile-menu ul li a {
            font-family: "Petrona", Georgia, serif;
            font-size: 38px;
            color: #0FA3B1;
            text-decoration: none; }
    .case-studies header nav {
      display: none; }
    .case-studies header .line {
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #EAEAEA; }
    @media screen and (min-width: 600px) {
      .case-studies header {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .case-studies header:last-child {
          margin-right: 0; }
        .case-studies header .title {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%; }
          .case-studies header .title:last-child {
            margin-right: 0; }
        .case-studies header .nav-mobile {
          display: none; }
        .case-studies header nav {
          display: block; }
          .case-studies header nav ul {
            margin: 0;
            padding: 0;
            overflow: hidden;
            list-style-type: none;
            line-height: 24px;
            text-align: right; }
            .case-studies header nav ul li {
              float: right; }
              .case-studies header nav ul li a {
                display: block;
                padding-left: 40px;
                font-family: "Muli", Helvetica, sans-serif;
                font-size: 16px;
                color: #BABABA;
                text-decoration: none; }
                .case-studies header nav ul li a:hover {
                  color: #0FA3B1; } }
  .case-studies .content-container h1 {
    font-family: "Petrona", Georgia, serif;
    font-size: 38px;
    font-weight: 100;
    line-height: 43px;
    color: #0FA3B1; }
  .case-studies .content-container h2, .case-studies .content-container h5, .case-studies .content-container p {
    font-family: "Muli", Helvetica, sans-serif;
    font-weight: 100; }
  .case-studies .content-container h2 {
    font-size: 21px;
    line-height: 31px;
    color: #2E3839; }
  .case-studies .content-container h5 {
    margin: 30px 0 -5px 0;
    font-size: 13px;
    line-height: 16px;
    color: #2E3839;
    text-transform: uppercase; }
  .case-studies .content-container p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #7F7F7F; }
  .case-studies .content-container img {
    width: 100%; }
  .case-studies .content-container section {
    margin-bottom: 100px; }
  .case-studies .content-container .wrapper {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto; }
    .case-studies .content-container .wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .case-studies .content-container .border {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    height: 65px;
    font-family: "Petrona", Georgia, serif;
    font-size: 21px;
    line-height: 0px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #0FA3B1; }
    .case-studies .content-container .border:last-child {
      margin-right: 0; }
    .case-studies .content-container .border .line {
      position: absolute;
      width: 100%;
      top: 34%;
      border-bottom: 1px solid #0FA3B1; }
    .case-studies .content-container .border .box-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%;
      margin-right: 0;
      position: absolute; }
      .case-studies .content-container .border .box-container:last-child {
        margin-right: 0; }
      .case-studies .content-container .border .box-container .box-center {
        position: absolute;
        display: block;
        z-index: 2;
        height: 45px;
        width: 95%;
        background: #FFFFFF;
        line-height: 1.2em;
        text-align: center; }
        .case-studies .content-container .border .box-container .box-center span {
          position: absolute;
          margin: 0;
          padding: 0.5em;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          min-width: 100%;
          transform: translate(-50%, -50%);
          border: 1px solid #0FA3B1; }
      .case-studies .content-container .border .box-container .box-left, .case-studies .content-container .border .box-container .box-right {
        display: none; }
    @media screen and (min-width: 600px) {
      .case-studies .content-container .border {
        font-size: 28px; }
        .case-studies .content-container .border .line {
          top: 50%;
          height: 1px;
          background: -webkit-gradient(linear, 0 0, 100% 0, from(#EAEAEA), to(#EAEAEA), color-stop(50%, #BABABA));
          border-bottom: 0px solid #0FA3B1; }
        .case-studies .content-container .border .box-container .box-left, .case-studies .content-container .border .box-container .box-right {
          position: absolute;
          display: block;
          height: 45px;
          width: 95%; }
        .case-studies .content-container .border .box-container .box-center {
          top: 10px;
          left: 10px;
          width: 95%;
          border: 1px solid #EAEAEA; }
        .case-studies .content-container .border .box-container .box-left, .case-studies .content-container .border .box-container .box-right {
          z-index: 1;
          border: 1px solid #0FA3B1;
          background: #FFFFFF; }
        .case-studies .content-container .border .box-container .box-left {
          top: 0; }
        .case-studies .content-container .border .box-container .box-right {
          top: 20px;
          left: 20px; } }
  .case-studies .content-container .project-tags {
    margin-top: -5px;
    font-family: "Muli", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #BABABA; }
    @media screen and (min-width: 600px) {
      .case-studies .content-container .project-tags {
        line-height: 24px; } }
  .case-studies .content-container .case-overview {
    display: block;
    padding: 20px 0 70px 0;
    margin: 0 auto;
    float: none;
    background-image: url("../images/nico/nico-bg.png"); }
    .case-studies .content-container .case-overview::after {
      clear: both;
      content: "";
      display: table; }
    .case-studies .content-container .case-overview h1 {
      text-align: center; }
    .case-studies .content-container .case-overview h5 {
      color: #E57F7F; }
    .case-studies .content-container .case-overview p {
      color: #FFFFFF; }
    @media screen and (min-width: 600px) {
      .case-studies .content-container .case-overview .case-header {
        padding-top: 60px; }
        .case-studies .content-container .case-overview .case-header .logo {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          margin-left: 34.11922%; }
          .case-studies .content-container .case-overview .case-header .logo:last-child {
            margin-right: 0; }
        .case-studies .content-container .case-overview .case-header img {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%; }
          .case-studies .content-container .case-overview .case-header img:last-child {
            margin-right: 0; }
        .case-studies .content-container .case-overview .case-header .project-tags, .case-studies .content-container .case-overview .case-header .project-about {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 25.58941%;
          font-size: 18px;
          text-align: center; }
          .case-studies .content-container .case-overview .case-header .project-tags:last-child, .case-studies .content-container .case-overview .case-header .project-about:last-child {
            margin-right: 0; }
        .case-studies .content-container .case-overview .case-header .project-tags {
          margin-top: 1em;
          color: #BABABA; }
      .case-studies .content-container .case-overview .case-tldr {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .case-studies .content-container .case-overview .case-tldr:last-child {
          margin-right: 0; }
        .case-studies .content-container .case-overview .case-tldr .problem {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%; }
          .case-studies .content-container .case-overview .case-tldr .problem:last-child {
            margin-right: 0; }
        .case-studies .content-container .case-overview .case-tldr .my-role {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          margin-left: 8.5298%; }
          .case-studies .content-container .case-overview .case-tldr .my-role:last-child {
            margin-right: 0; }
        .case-studies .content-container .case-overview .case-tldr .toolbox {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 6.17215%;
          margin-left: 8.5298%; }
          .case-studies .content-container .case-overview .case-tldr .toolbox:last-child {
            margin-right: 0; } }
  .case-studies .content-container .case-writeup {
    display: block; }
    .case-studies .content-container .case-writeup::after {
      clear: both;
      content: "";
      display: table; }
    .case-studies .content-container .case-writeup .section-container .drop-cap {
      float: left;
      padding: 2px 10px 0 0;
      font-family: "Petrona", Georgia, serif;
      font-size: 65px;
      line-height: 62px;
      color: #7F7F7F; }
    .case-studies .content-container .case-writeup .section-container ul {
      font-family: "Muli", Helvetica, sans-serif;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.5px;
      color: #7F7F7F;
      list-style-type: decimal; }
    .case-studies .content-container .case-writeup .section-container button {
      width: 100%;
      padding: 0.9375em 70px;
      background: #E150A5;
      border: 1px solid #E150A5;
      border-radius: 4px;
      font-family: "Muli", Helvetica, sans-serif;
      font-size: 16px;
      line-height: 17px;
      letter-spacing: 0.5px;
      color: #FFFFFF;
      text-decoration: none; }
      .case-studies .content-container .case-writeup .section-container button:hover {
        background: #FFFFFF;
        color: #E150A5;
        cursor: pointer; }
    @media screen and (min-width: 600px) {
      .case-studies .content-container .case-writeup .section-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .case-studies .content-container .case-writeup .section-container:last-child {
          margin-right: 0; }
        .case-studies .content-container .case-writeup .section-container .writeup-description p, .case-studies .content-container .case-writeup .section-container .writeup-description ul {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 25.58941%; }
          .case-studies .content-container .case-writeup .section-container .writeup-description p:last-child, .case-studies .content-container .case-writeup .section-container .writeup-description ul:last-child {
            margin-right: 0; }
        .case-studies .content-container .case-writeup .section-container .writeup-description h2 {
          line-height: 0; }
        .case-studies .content-container .case-writeup .section-container .writeup-description img {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 17.05961%; }
          .case-studies .content-container .case-writeup .section-container .writeup-description img:last-child {
            margin-right: 0; }
        .case-studies .content-container .case-writeup .section-container button {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 25.58941%;
          padding: 15px 50px; }
          .case-studies .content-container .case-writeup .section-container button:last-child {
            margin-right: 0; }
      .case-studies .content-container .case-writeup .personas {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 6.39735%; }
        .case-studies .content-container .case-writeup .personas:last-child {
          margin-right: 0; }
        .case-studies .content-container .case-writeup .personas .persona-image {
          text-align: center; }
          .case-studies .content-container .case-writeup .personas .persona-image img {
            display: inline-block;
            width: 50%;
            margin: 0 auto; }
        .case-studies .content-container .case-writeup .personas .catarina {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%; }
          .case-studies .content-container .case-writeup .personas .catarina:last-child {
            margin-right: 0; }
        .case-studies .content-container .case-writeup .personas .brandon {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-left: 4.2649%; }
          .case-studies .content-container .case-writeup .personas .brandon:last-child {
            margin-right: 0; } }
  .case-studies .content-container .personas {
    margin: -40px 0 70px 0; }
  .case-studies .content-container .other-works {
    display: block; }
    .case-studies .content-container .other-works::after {
      clear: both;
      content: "";
      display: table; }
    .case-studies .content-container .other-works .project {
      margin-bottom: 60px; }
      .case-studies .content-container .other-works .project .project-description button {
        width: 100%;
        padding: 15px 70px;
        background: #E150A5;
        border: 1px solid #E150A5;
        border-radius: 4px;
        font-family: "Muli", Helvetica, sans-serif;
        font-size: 16px;
        line-height: 17px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-decoration: none; }
        .case-studies .content-container .other-works .project .project-description button:hover {
          background: #FFFFFF;
          color: #E150A5;
          cursor: pointer; }
    @media screen and (min-width: 600px) {
      .case-studies .content-container .other-works .other-works-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-right: 0; }
        .case-studies .content-container .other-works .other-works-container:last-child {
          margin-right: 0; }
        .case-studies .content-container .other-works .other-works-container .project img {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%; }
          .case-studies .content-container .other-works .other-works-container .project img:last-child {
            margin-right: 0; }
        .case-studies .content-container .other-works .other-works-container .project .project-description {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 8.5298%; }
          .case-studies .content-container .other-works .other-works-container .project .project-description:last-child {
            margin-right: 0; }
          .case-studies .content-container .other-works .other-works-container .project .project-description button:hover {
            color: #2E3839; } }
  .case-studies .content-container .contact .contact-container .contact-text h1, .case-studies .content-container .contact .contact-container .contact-text h2 {
    text-align: center; }
  .case-studies .content-container .contact .contact-container .contact-text h1 {
    line-height: 0px; }
  .case-studies .content-container .contact .contact-container .contact-methods {
    width: 100%;
    margin: 0 auto; }
    .case-studies .content-container .contact .contact-container .contact-methods a {
      padding: 27px;
      text-decoration: none; }
    .case-studies .content-container .contact .contact-container .contact-methods img {
      width: 40px; }
  @media screen and (min-width: 600px) {
    .case-studies .content-container .contact .contact-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .case-studies .content-container .contact .contact-container:last-child {
        margin-right: 0; }
      .case-studies .content-container .contact .contact-container .contact-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0; }
        .case-studies .content-container .contact .contact-container .contact-text:last-child {
          margin-right: 0; }
        .case-studies .content-container .contact .contact-container .contact-text h1, .case-studies .content-container .contact .contact-container .contact-text h2 {
          text-align: left; }
      .case-studies .content-container .contact .contact-container .contact-methods {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-left: 42.64902%;
        margin-right: 0; }
        .case-studies .content-container .contact .contact-container .contact-methods:last-child {
          margin-right: 0; } }

.about {
  margin: 0 0; }
  .about .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #0FA3B1; }
  .about header {
    padding: 16px 1em 15px 1em;
    background: #FFFFFF; }
    .about header .title {
      font-family: "Petrona", Georgia, serif;
      font-size: 21px;
      line-height: 24px;
      letter-spacing: 1.5px; }
      .about header .title a {
        color: #BABABA;
        text-decoration: none; }
      .about header .title .split {
        color: #0FA3B1; }
    .about header .hamburger {
      position: absolute;
      top: 20px;
      right: 5px;
      width: 20px;
      height: 24px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      .about header .hamburger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background: #0FA3B1;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        .about header .hamburger span:nth-child(1) {
          top: 0px; }
        .about header .hamburger span:nth-child(2), .about header .hamburger span:nth-child(3) {
          top: 7px; }
        .about header .hamburger span:nth-child(4) {
          top: 14px; }
      .about header .hamburger.open span:nth-child(1) {
        top: 7px;
        left: 50%;
        width: 0%; }
      .about header .hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .about header .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .about header .hamburger.open span:nth-child(4) {
        top: 7px;
        left: 50%;
        width: 0%; }
    .about header .mobile-menu {
      display: none;
      margin: 0 auto; }
      .about header .mobile-menu ul {
        list-style-type: none; }
        .about header .mobile-menu ul li {
          padding: 20px; }
          .about header .mobile-menu ul li a {
            font-family: "Petrona", Georgia, serif;
            font-size: 38px;
            color: #0FA3B1;
            text-decoration: none; }
    .about header nav {
      display: none; }
    .about header .line {
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #EAEAEA; }
    @media screen and (min-width: 600px) {
      .about header {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .about header:last-child {
          margin-right: 0; }
        .about header .title {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%; }
          .about header .title:last-child {
            margin-right: 0; }
        .about header .nav-mobile {
          display: none; }
        .about header nav {
          display: block; }
          .about header nav ul {
            margin: 0;
            padding: 0;
            overflow: hidden;
            list-style-type: none;
            line-height: 24px;
            text-align: right; }
            .about header nav ul li {
              float: right; }
              .about header nav ul li a {
                display: block;
                padding-left: 40px;
                font-family: "Muli", Helvetica, sans-serif;
                font-size: 16px;
                color: #BABABA;
                text-decoration: none; }
                .about header nav ul li a:hover {
                  color: #0FA3B1; } }
  .about .content-container h1 {
    font-family: "Petrona", Georgia, serif;
    font-size: 38px;
    font-weight: 100;
    line-height: 43px;
    color: #0FA3B1; }
  .about .content-container h2, .about .content-container h5, .about .content-container p {
    font-family: "Muli", Helvetica, sans-serif;
    font-weight: 100; }
  .about .content-container h2 {
    font-size: 21px;
    line-height: 31px;
    color: #2E3839; }
  .about .content-container h5 {
    margin: 30px 0 -5px 0;
    font-size: 13px;
    line-height: 16px;
    color: #2E3839;
    text-transform: uppercase; }
  .about .content-container p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #7F7F7F; }
  .about .content-container img {
    width: 100%; }
  .about .content-container section {
    margin-bottom: 100px; }
  .about .content-container .wrapper {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto; }
    .about .content-container .wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .about .content-container .border {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    height: 65px;
    font-family: "Petrona", Georgia, serif;
    font-size: 21px;
    line-height: 0px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #0FA3B1; }
    .about .content-container .border:last-child {
      margin-right: 0; }
    .about .content-container .border .line {
      position: absolute;
      width: 100%;
      top: 34%;
      border-bottom: 1px solid #0FA3B1; }
    .about .content-container .border .box-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%;
      margin-right: 0;
      position: absolute; }
      .about .content-container .border .box-container:last-child {
        margin-right: 0; }
      .about .content-container .border .box-container .box-center {
        position: absolute;
        display: block;
        z-index: 2;
        height: 45px;
        width: 95%;
        background: #FFFFFF;
        line-height: 1.2em;
        text-align: center; }
        .about .content-container .border .box-container .box-center span {
          position: absolute;
          margin: 0;
          padding: 0.5em;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          min-width: 100%;
          transform: translate(-50%, -50%);
          border: 1px solid #0FA3B1; }
      .about .content-container .border .box-container .box-left, .about .content-container .border .box-container .box-right {
        display: none; }
    @media screen and (min-width: 600px) {
      .about .content-container .border {
        font-size: 28px; }
        .about .content-container .border .line {
          top: 50%;
          height: 1px;
          background: -webkit-gradient(linear, 0 0, 100% 0, from(#EAEAEA), to(#EAEAEA), color-stop(50%, #BABABA));
          border-bottom: 0px solid #0FA3B1; }
        .about .content-container .border .box-container .box-left, .about .content-container .border .box-container .box-right {
          position: absolute;
          display: block;
          height: 45px;
          width: 95%; }
        .about .content-container .border .box-container .box-center {
          top: 10px;
          left: 10px;
          width: 95%;
          border: 1px solid #EAEAEA; }
          .about .content-container .border .box-container .box-center span {
            border: 0px solid #0FA3B1; }
        .about .content-container .border .box-container .box-left, .about .content-container .border .box-container .box-right {
          z-index: 1;
          border: 1px solid #0FA3B1;
          background: #FFFFFF; }
        .about .content-container .border .box-container .box-left {
          top: 0; }
        .about .content-container .border .box-container .box-right {
          top: 20px;
          left: 20px; } }
  .about .content-container .project-tags {
    margin-top: -5px;
    font-family: "Muli", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #BABABA; }
    @media screen and (min-width: 600px) {
      .about .content-container .project-tags {
        line-height: 24px; } }
  .about .content-container .intro-container {
    display: block;
    padding: 20px 0 70px 0;
    margin: 0 auto;
    float: none; }
    .about .content-container .intro-container::after {
      clear: both;
      content: "";
      display: table; }
    .about .content-container .intro-container h1, .about .content-container .intro-container h2 {
      text-align: center; }
    .about .content-container .intro-container h5 {
      color: #2E3839; }
    .about .content-container .intro-container p {
      color: #7F7F7F; }
    .about .content-container .intro-container a {
      text-decoration: none;
      color: #0FA3B1; }
    @media screen and (min-width: 600px) {
      .about .content-container .intro-container .intro-header {
        padding-top: 60px; }
        .about .content-container .intro-container .intro-header img {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%; }
          .about .content-container .intro-container .intro-header img:last-child {
            margin-right: 0; }
        .about .content-container .intro-container .intro-header .project-tags, .about .content-container .intro-container .intro-header .project-about {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 25.58941%;
          font-size: 18px;
          text-align: center; }
          .about .content-container .intro-container .intro-header .project-tags:last-child, .about .content-container .intro-container .intro-header .project-about:last-child {
            margin-right: 0; }
        .about .content-container .intro-container .intro-header .project-tags {
          margin-top: 1em;
          color: #BABABA; }
      .about .content-container .intro-container .bio-tldr {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 34.11922%; }
        .about .content-container .intro-container .bio-tldr:last-child {
          margin-right: 0; }
        .about .content-container .intro-container .bio-tldr h5 {
          float: left;
          display: block;
          margin-right: 3.57866%;
          width: 15.84234%;
          text-align: right;
          line-height: 2px; }
          .about .content-container .intro-container .bio-tldr h5:last-child {
            margin-right: 0; }
        .about .content-container .intro-container .bio-tldr p {
          float: left;
          display: block;
          margin-right: 3.57866%;
          width: 67.63167%; }
          .about .content-container .intro-container .bio-tldr p:last-child {
            margin-right: 0; } }
  .about .content-container .new-section {
    display: block; }
    .about .content-container .new-section::after {
      clear: both;
      content: "";
      display: table; }
    .about .content-container .new-section .section-container .drop-cap {
      float: left;
      padding: 2px 10px 0 0;
      font-family: "Petrona", Georgia, serif;
      font-size: 65px;
      line-height: 62px;
      color: #7F7F7F; }
    .about .content-container .new-section .section-container ul {
      font-family: "Muli", Helvetica, sans-serif;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.5px;
      color: #7F7F7F;
      list-style-type: decimal; }
    .about .content-container .new-section .section-container button {
      width: 100%;
      padding: 0.9375em 70px;
      background: #E150A5;
      border: 1px solid #E150A5;
      border-radius: 4px;
      font-family: "Muli", Helvetica, sans-serif;
      font-size: 16px;
      line-height: 17px;
      letter-spacing: 0.5px;
      color: #FFFFFF;
      text-decoration: none; }
      .about .content-container .new-section .section-container button:hover {
        background: #FFFFFF;
        color: #E150A5;
        cursor: pointer; }
    @media screen and (min-width: 600px) {
      .about .content-container .new-section .section-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .about .content-container .new-section .section-container:last-child {
          margin-right: 0; }
        .about .content-container .new-section .section-container .writeup-description p, .about .content-container .new-section .section-container .writeup-description ul {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 25.58941%; }
          .about .content-container .new-section .section-container .writeup-description p:last-child, .about .content-container .new-section .section-container .writeup-description ul:last-child {
            margin-right: 0; }
        .about .content-container .new-section .section-container .writeup-description h2 {
          line-height: 0; }
        .about .content-container .new-section .section-container .writeup-description img {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 17.05961%; }
          .about .content-container .new-section .section-container .writeup-description img:last-child {
            margin-right: 0; }
        .about .content-container .new-section .section-container button {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-left: 59.70863%;
          padding: 15px 50px; }
          .about .content-container .new-section .section-container button:last-child {
            margin-right: 0; } }
  .about .content-container .timeline .event-container {
    display: block; }
    .about .content-container .timeline .event-container::after {
      clear: both;
      content: "";
      display: table; }
    .about .content-container .timeline .event-container .circle {
      width: 15px;
      height: 15px;
      border: 1px solid #0FA3B1;
      border-radius: 50%;
      background: #FFFFFF; }
    .about .content-container .timeline .event-container .event {
      padding-left: 4%;
      margin-left: -3.1%;
      border-left: 1px solid #BABABA; }
      .about .content-container .timeline .event-container .event h6 {
        font-family: "Muli", Helvetica, sans-serif;
        font-size: 14px;
        color: #2E3839;
        letter-spacing: 0.5px; }
      .about .content-container .timeline .event-container .event p {
        margin-top: -27px; }
      .about .content-container .timeline .event-container .event a {
        color: #E150A5;
        text-decoration: none; }
  @media screen and (min-width: 600px) {
    .about .content-container .timeline {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .about .content-container .timeline:last-child {
        margin-right: 0; }
      .about .content-container .timeline .circle {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 6.17215%;
        margin-left: 25.58941%;
        margin-top: 3.2%; }
        .about .content-container .timeline .circle:last-child {
          margin-right: 0; }
      .about .content-container .timeline .event {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .about .content-container .timeline .event:last-child {
          margin-right: 0; } }
  .about .content-container .contact .contact-container .contact-text h1, .about .content-container .contact .contact-container .contact-text h2 {
    text-align: center; }
  .about .content-container .contact .contact-container .contact-text h1 {
    line-height: 0px; }
  .about .content-container .contact .contact-container .contact-methods {
    width: 100%;
    margin: 0 auto; }
    .about .content-container .contact .contact-container .contact-methods a {
      padding: 27px;
      text-decoration: none; }
    .about .content-container .contact .contact-container .contact-methods img {
      width: 40px; }
  @media screen and (min-width: 600px) {
    .about .content-container .contact .contact-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .about .content-container .contact .contact-container:last-child {
        margin-right: 0; }
      .about .content-container .contact .contact-container .contact-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0; }
        .about .content-container .contact .contact-container .contact-text:last-child {
          margin-right: 0; }
        .about .content-container .contact .contact-container .contact-text h1, .about .content-container .contact .contact-container .contact-text h2 {
          text-align: left; }
      .about .content-container .contact .contact-container .contact-methods {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-left: 42.64902%;
        margin-right: 0; }
        .about .content-container .contact .contact-container .contact-methods:last-child {
          margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
